<html>
  <head>
    <title>Lyric Similarity</title>
  </head>
  <body>
    <h1>Similarity to Song</h1>

    <form action="" method="post" name="song">
      {{ form.hidden_tag() }}
      Title: {{ form.song_title(size=40) }}<br />
      Artist: {{ form.artist(size=40) }}<br />
      <input type="submit" value="Search">
    </form>

    {% if songs %}
    <table>
      <tr>
        <th>Song Title</th>
        <th>Artist</th>
        <th>Similarity Index</th>
      </tr>

      {% for song, similarity in songs %}
      <tr>
        <td>{{ song.title }}</td>
        <td>{{ song.artist }}</td>
        <td>{{ similarity }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
